/* color */
$darkgray: #565656;
$gray: #D6D6D6;
$pink: #FF1D68;
$movie: #2E4C9D;
$music: #F20F4A;
$book: #3D701B;

/* Media Layout */
$pad: 1000px 12;
$landscape: 319px 8;
$portrait: 240px 8;


@mixin transition($second) {
	-webkit-transition: $second;
	   -moz-transition: $second;
	    -ms-transition: $second;
	     -o-transition: $second;
	        transition: $second;
}
.article{
	@include span-columns(12,12);
	margin: 12px 0;
	a:link{
		color: $pink;
	}
	.title{
		font-size: 1.4em;
		color: $darkgray;
		margin:12px 0 6px 0;
		line-height: 8pt;
	}
	.time{
		color: $darkgray;
		text-align: right;
		font-size: 1.2em;
		margin-bottom: 6px;
		line-height: 8pt;
	}
	.author{
		color: $pink;
		margin-bottom: 6px;
		text-align: right;
		font-size: 1.2em;
	}
	.content{
		font-size: 2em;
		letter-spacing: -1px;
		line-height: 1.2em;
		text-align: justify;
		display: inline-block;
		font-weight: bold;
		float: right;
	}
	.article_cont{
		p{
			text-align: justify;
			margin: 12px;
			font-size: 1.5em;
			line-height: 1.5em;
		}
		.article_img{
			margin: 24px 0;
			padding: 12px;
			background-color: $gray;
			img{
				width: 100%;
			}
			p{
				text-align: center;
				margin: 6px 0 0 0;
			}
		}
		iframe{
			margin: 12px 0;
			width: 100%;
		}
	}
	blockquote{
		color: $darkgray;
		border-left: 4px solid $darkgray;
		margin-left: 24px;
		p,a{
			font-size: 1em;
			margin-left: 12px;
			line-height: 1.4em;
		}
	}
	.share{
		margin: 12px 0;
		border-top: 1px solid $gray;
		border-bottom: 1px solid $gray;
		text-align: center;
		background-color: $gray;
		i{
			color: #FFF;
			width: 40px;
			height: 40px;
			margin: 20px 12px 12px 12px;
			position: relative;
			z-index: 1;
		}
		i::after{
			content:"";
			background-color: #1D1D1B;
			width: 48px;
			height:48px;
			-webkit-border-radius: 3px;
			        border-radius: 3px;
	        float: left;
	        margin: -8px -38px 0 0px;
	        z-index: 0;
			@include transition(0.3s);
		}
		.fa-facebook::after{
			background-color: #3f67a9;
			@include transition(0.3s);
		}
		.fa-google-plus::after{
			background-color: #cb3b2a;
			@include transition(0.3s);
		}
		.fa-twitter::after{
			background-color: #5ea9dd;
			@include transition(0.3s);
		}
	}
}
.other_article{
	margin: 24px 0;
	border-bottom: 1px solid $gray;
	font-size: 0.9em;
	.name{
		color: $pink;
	}
	.next_article{
		margin: 12px 0;
		@include span-columns(4,8);
		i{
			float: left;
			height: 100px;
			padding-top: 30px;
			margin-right: 6px;
		}
	}
	.prev_article{
		margin: 12px 0;
		@include span-columns(4 omega,8);
		text-align: right;
		i{
			float: right;
			height: 90px;
			padding-top: 30px;
			margin-left: 6px;
		}
	}
}
.suggestion_left{
	@include span-columns(4,8);
	img{
		width: 100%;
	}
	p{
		font-size: 1em;
	}
}
.suggestion_right{
	@include span-columns(4 omega,8);
	img{
		width: 100%;
	}
	p{
		font-size: 1em;
	}
}

@media only screen and (max-device-width : 480px) and (orientation : landscape){
	.article{
		.title{
			font-size: 14pt;
			line-height: 1em;
			margin-bottom: 0px;
		}
		.content{
			font-size: 18pt;
			margin-bottom: 0px;
		}
		.time{
			font-size: 8pt;
			margin-bottom: 0px;
		}
		.author{
			font-size: 8pt;
			margin-bottom: 0px;
		}
		.article_cont{
			p{
				font-size: 9pt;
			}
		}
		blockquote{
			p,a{
				font-size: 7pt;
			}
		}
	}
}

@media only screen and (orientation : portrait){
}