@import"color";

#footer{
	width: 100%;
	margin: 0 auto;
	height: 12px;
	padding: 6px 0 14px 0;
	text-align: center;
	display: inline-block;
	background-color: $lightgreen;
	font-weight: 300;
	p{
		font-size: 10pt;
	}
}