@import"color";
/* Media Layout */
$pad: 1000px 12;
$small: 320px 4;

@mixin transition($second) {
	-webkit-transition: $second;
	   -moz-transition: $second;
	    -ms-transition: $second;
	     -o-transition: $second;
	        transition: $second;
}

.header{
	width: 100%;
	margin: 0 auto;
	height: 82px;
	background-color: $darkgray;
	z-index: 11;
	-webkit-transform: translateZ(0);
	a{
		color: #FFF;
		display: block;
	}
	ul{
		li{
			@include span-columns(1,10);
			padding-top: 35px;
			a{
				line-height: 14pt;
			}
		}
	}
	.logo{
		@include span-columns(1,4);
		margin-left: 20px;
		margin-top: 25px;
		margin-right: 87px;
		font-size: 24pt;
		img{
			margin-right: 10px;
			float: left;
			vertical-align: bottom;
		}
		.vt{
			width: 160px;
			height: 40px;
			font-size: 13pt;
			position: relative;
		}
	}
	.login{
		float: right;
		border-left: 1px solid #fff;
		padding-left: 15px;
		height: 47px;
		position: relative;
		width: 138px;
	}
	.after-login{
		padding-top: 17px;
		height: 65px;
		margin-right: 32px;
		a{
			position: relative;
		}
		img{
			width: 50px;
			height: 50px;
		}
		p{
			position: absolute;
			width: 82px;
			display: inline-block;
			left: 56px;
			color: white;
		}
		.navi{
			margin-left: 145px;
			top: 34px;
			position: absolute;
		}
		.profile{
			margin-top: 12px;
			padding: 5px;
			background-color: white;
			background-color: transparentize(white, 0.2);
			width: 176px;
			position: absolute;
			left: 0;
			display: none;
			a{
				color: $darkgray;
			}
			img{
				width: 67px;
				height: 50px;
			}
			ul{
				overflow: auto;
			}
			li{
				width: 100%;
				margin-right: 0;
				padding-top: 10px;
				padding-bottom: 14px;
				border-bottom: 1px solid white;
			}
			p{
				left: 70px;
				color: $darkgray;
			}
			span{
				display: inline-block;
				width: 86px;
				overflow: hidden;
			}
			.fa{
				margin-left: 5px;
				top: 18px;
				position: absolute;
				margin-left: 86px;
			}
			.more{
				width: 100%;
				text-align: center;
				padding-top: 10px;
				padding-bottom: 10px;
				border-bottom: 1px solid white;
			}
			.logout{
				padding-top: 10px;
				padding-bottom: 10px;
				content: #AFAFAF;
				text-align: center;
				span{
					width: 158px;
				}
			}
		}
	}
}
.search{
	width: 220px;
	border-left: 1px solid #fff;
	i{
		margin: 0 10px 0 10px;
	}
}

@media screen and (min-width: 760px) and (max-width: 1244px) {
    .logo{
    	font-size: 18pt!important;
    	width: 120px!important;
    }    
}

@media screen and (max-width: 759px) {
	.header{
		li{
			a{
			}
		}
	}
    .logo{
    	font-size: 14pt!important;
    	width: 60px!important;
    }
    .vt{
    	display: none!important;
    }
}