@import"color";
/* Media Layout */
$pad: 1000px 12;
$small: 320px 4;

@mixin transition($second) {
	-webkit-transition: $second;
	   -moz-transition: $second;
	    -ms-transition: $second;
	     -o-transition: $second;
	        transition: $second;
}

.header{
	width: 100%;
	margin: 0 auto;
	height: 82px;
	background-color: $darkgray;
	z-index: 11;
	-webkit-transform: translateZ(0);
	.logo{
		@include span-columns(1,3);
		margin-left: 20px;
		margin-top: 25px;
		margin-right: 87px;
		font-size: 24pt;
		img{
			margin-right: 10px;
			margin-bottom: -4px;
		}
		p{
			font-size: 18px;
			color: #FFF;
			display: inline-block;
		}
		a{
			color: #FFF;
		}
	}
	ul{
		li{
			@include span-columns(1,8);
			height: 32px;
			padding: 35px 0 15px 0;
			color: white;
			a{
				color: #FFF;
			}
		}
		.signup{
			float: right;
		}
		.login{
			float: right;
			border-left: 1px solid #fff;
			padding-left: 15px;
		}.after-login{
			img{
				margin-top: -20px;
				width: 50px;
			}
		}
		.search{
			width: 220px;
			border-left: 1px solid #fff;
			i{
				margin: 0 10px 0 10px;
			}
		}
		.ID{
			color: #FFF;
			margin-top: -38px;
			margin-left: 60px;
		}
	}
	.profile{
		width: 200px;
		height: auto;
		display: inline-block;
		position: absolute;
		margin-left: -15px;
		margin-top: 32px;
		padding: 5px;
		background-color: rgba(255,255,255,0.7);
		ul ,li{
			margin: 0;
			display: inline-block;
			padding: 0;
			position: relative;
		}
		li{
			width: 200px;
			height: 50px;
			margin-top: 5px;
			border-bottom: 1px solid;
			padding-bottom: 5px;
		}
		img{
			height: 50px;
			width: auto!important;
			display: inline-block;
			margin-top: 0!important;
		}
		p{
			color: rgb(127, 127, 127);
			display: block;
			margin-top: -38px;
			margin-left: 75px;
			position: relative;
		}
		.logout{
			width: 200px;
			color: rgb(127, 127, 127);
			padding: 12px 0 0 0;
			display: inline-block;
			font-size: 14pt;
			text-align: center;
		}
	}
}