/* color */
$darkgray: #565656;
$gray: #D6D6D6;
$pink: #FF1D68;
$movie: #2E4C9D;
$music: #F20F4A;
$book: #3D701B;
/* Layout */
$total-columns: 8;
$column-width: 60px;
$gutter-width: 20px;
$grid-padding: 20px;