// ---------------------------------------------------------------------------
// Imports
@import"susy";
@import"base";
@import"head";
@import"footer";
@import"explore";
@import"signup";
@import"color";
@import"compass/reset";
@import"compass/css3";
/* -------------------------------------------------------------------------*/

/* Layout */
$total-columns: 8;
$column-width: 120px;
$gutter-width: 20px;
$grid-padding: 0px;
$container-style: fluid;

/* Media Layout */
$pad: 1000px 12;
$horizon: 480px 8;
$vertical: 320px 8;

html {
	font-size: 100%;
}

body {
	font-size:1em;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	background-color: #FFF;
	color: $black;
}
a{
	color: #FFF;
}
a:link {
	text-decoration:none;
	color: $darkgray;
	}

p{
	font-size: 12pt;
	line-height: 16pt;
	color: $black;
}

h1{
	font-size: 3em;
}
h2{
	font-size: 12pt;
}

.page{
  @include container;
  // @include susy-grid-background;
  @include at-breakpoint($pad) {
  };
  @include at-breakpoint($small);
  background-color: $bg;
  }

.index{
	min-height: 800px;
	background-image: url('../img/bg.png');
	background-repeat: no-repeat;
	max-width: 100%;
	width: 100%;
	background-size: cover;
	color: #FFF;
	p{
		@include span-columns(4 omega, 8);
		margin: 200px 300px 0 0;
		font-size: 36pt;
		width: 340px;
		font-weight: 300;
		color: #FFF;
		line-height: 40pt;
		text-align: right;
	}
	i{
		font-size: 64pt;
		position: absolute;
		margin: -70px 0 0 10px;
	}
}
.main{
	float: none!important;
	@include span-columns(12,12);
	min-height: 700px;
	max-width: 1080px;
	margin: 0 auto;
	padding: 20px;
	// border: 1px solid;
}
.login_fail{
	height: 600px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	position: relative;
      p{
        display: inline-block;
        vertical-align: middle;
      }
      a{
      	color: $green ;
      }
}
.login_fail:before{
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 0;
	height: 100%;
}