@import"color";
.bx-viewport{
	height: 100%;
	h1{
		text-align: center;
		margin: 20px 0;
	}
	a{
		color: $darkgray;
	}
	p{
		margin: 10px 0;
		padding: 0 10px
	}
}
.bx-controls-direction{
	display: none;
}