extends ../layout

block head
  title BUILD TOMBSTONE
  meta(name="keywords", content="virtual tombstone")
  meta(name="description", content="")

block css
  link(rel="stylesheet", type="text/css", href="stylesheets/memory_page.css")
  link(rel="stylesheet", type="text/css", href="stylesheets/build.css")

block content
  .index.memory_page
    .sky
    form#build.main_tombstone.build
      .upload_img
        p
          | Upload an image
          br
          | （284*213px recomended）
        img(src="", alt="")
        input(type="file", accept="image/gif, image/jpeg, image/png", id="build_picture", name="picture")
      input(type="text", placeholder="TOPIC", id="build_topic", name="topic")
      textarea(placeholder="Write Something", id="build_content", name="content")
      input(type="text", placeholder="date of death", id="build_date", name="vtDate")
      button.submmit(type="submit") Submit
      .shadow

block javascript
  script(type="text/javascript", src="javascripts/build.js")
    