extends ../layout

block head
  title BUILD TOMBSTONE
  meta(name="keywords", content="virtual tombstone")
  meta(name="description", content="")

block css
  link(rel="stylesheet", type="text/css", href="stylesheets/memory_page.css")
  link(rel="stylesheet", type="text/css", href="stylesheets/build.css")

block content
  .index.memory_page
    .sky
    form#build.main_tombstone.build
      .upload_img#image-cropper
        p
          | 上傳照片
          br
          | （建議尺寸284*213px）
        .cropit-image-preview
        input.cropit-image-input(type="file")
      input(type="text", placeholder="標題", id="build_topic", name="topic")
      textarea(placeholder="墓碑內容", id="build_content", name="content")
      input(type="text", placeholder="逝去日期", id="build_date", name="vtDate")
      button.submmit(type="submit") 送出
      .shadow

block javascript
  script(type="text/javascript", src="javascripts/build.js")
    