extends ../layout

block head
  title EXPLORE
  meta(name="keywords", content="virtual tombstone")
  meta(name="description", content="")

block css

block content
  //- <div class="tombstone">
  //-   <div class="face">
  //-     <a href="steve_jobs.html"><img src="img/face/jobs.png" alt="jobs"></a>
  //-     <h2>STEVE JOBS</h2>
  //-     <p>Stewart and his team put out several issues of The Whole Earth Catalog, and then when it had run its course, they put out a final issue. It was the mid-1970s, and I was your age. On the back cover of their final issue was.</p>
  //-     <span class="date">-12.06.2005</span>
  //-   </div>
  //-   <div class="count">
  //-     <img src="img/comment_count.png" alt=""><p>19</p>
  //-   </div>
  //- </div>
  #main.main
  #content


block javascript
  script(type="text/javascript", src="javascripts/react.min.js")
  script(type="text/javascript", src="javascripts/JSXTransformer.js")
  script(type="text/jsx").
    /**
     * @jsx React.DOM
     */
    $(function() {
      $.get('/vts', function(data){
        var TombstoneBox = React.createClass({
          render: function(){
            var tombstoneNodes = this.props.data.map(function(item){
              console.dir(item);
              return (
                <div className="tombstone">
                  <div className="face">
                    <a href="">
                      <img src="img/face/jobs.png" alt="jobs" />
                    </a>
                    <h2>{item.vtName}</h2>
                    <p>{item.vtDes}</p>
                    <span className="date">-{item.vtDate}</span>
                  </div>
                  <div className="count">
                    <img src="img/comment_count.png" alt="" />
                    <p>{item.vtMsg}</p>
                  </div>
                </div>
              );
            });
            return (
              <div className="react_tombstone">
                {tombstoneNodes}
              </div>
            );
          }
        });

        React.renderComponent(
          <TombstoneBox data={data} />,
          document.getElementById('main')
        );
      });
    });