extends ../layout

block head
  title VIRTUAL TOMBSTONE
  meta(name="keywords", content="virtual tombstone")
  meta(name="description", content="")

block css

block content
  .index
    p
      | 為死去的
      br
      | 身分
      br
      | 立一座墓碑
      a(href="tutorial.html", target="_self")
        i(class="start fa fa-arrow-circle-right")

block javascript
  