extends ../layout

block head
  title VIRTUAL TOMBSTONE
  meta(name="keywords", content="virtual tombstone")
  meta(name="description", content="")

block css

block content
  .index
    p
      | 紀念過去的
      br
      | 美好一切
      a(href="tutorial.html", target="_self")
        i(class="start fa fa-arrow-circle-right")

block javascript
  