extends ../layout

block head
  title VIRTUAL MEMORIAL 
  meta(name="keywords", content="virtual memorial") 
  meta(name="description", content="virtual monument,虛擬紀念碑，獻給過去的美好") 
  meta(property="og:title", content="VIRTUAL MEMORIAL") 
  meta(property="og:url", content="http://virtualmemorial.co") 
  meta(property="image", content="img/og.jpg")
  

block css

block content
  .index
    p
      |虛擬紀念碑
      br
      | 獻給
      br
      | 過去的美好
      a(href="tutorial.html", target="_self")
        i(class="start fa fa-arrow-circle-right")

block javascript
  