extends ../layout

block head
  title LOGIN FAILED
  meta(name="keywords", content="virtual memorial")
  meta(name="description", content="")

block css

block content
  .main
    .login_fail
      p
        | 登入失敗，
        a(href="/auth/facebook", target="_self") 點此 
        | 再試一次。

block javascript
