extends ../layout

block head
  title TUTORIAL
  meta(name="keywords", content="")
  meta(name="description", content="")

block css
  link(rel="stylesheet", type="text/css", href="stylesheets/privacy.css")

block content
  .privacy
    h1 隱私權保護政策

    p 數位墓碑(Virtualtombstone)是一個碩士創作論文，網站本身技術文件與論文皆以open data方式呈現在github上供學術使用。
    br 
    a(href="https://github.com/cyrilhong/virtualtombstone", target="_blank") 參考：https://github.com/cyrilhong/virtualtombstone
    br 
    br
    p 本網站所收集的個人資料皆不會公開，單純只作為墓碑的資料呈現，例如墓碑留言影響墓碑的外觀。最後呈現的結果會以匿名方式作為論文論述的依據。
    br  
    hr
    h2 數位墓碑從何處蒐集我的個人資料？
    br 
    p 原則上，使用者進入網站時，並不需要輸入個人資料， 數位墓碑不會在使用者不知情的情況下，取得使用者個人資料；數位墓碑網站從網站蒐集個人資料的管道說明如下：
    br  
    hr
    h3 註冊
    br 
    p 「數位墓碑」會從Facebook登入api中獲得資料，包括姓名、個人公開資訊。
    br 
    hr 
    h3 一般瀏覽
    br 
    p 「數位墓碑」會記錄使用者建立的墓碑、或是在他人墓碑上留下的訊息。
    br 
    hr 
    h3 數位墓碑如何使用我的資料？
    br 
    p 「數位墓碑」所取得的個人資料，都僅供數位墓碑網站運作、依照原來所說明的使用目的和範圍加以運用，除非事先說明、或依照相關法律規定，否則數位墓碑不會將使用者個人資料提供給第三人、或移作其他目的使用。
    br 
    hr 
    h3 統計與分析
    br 
    p 當您在「數位墓碑」登入後，其所輸入的資料，僅供數位墓碑依服務或活動設計參考使用。使用者參與墓碑留言所統計的結果，只會用於影響墓碑的外觀，並不會作為其他用途。
    br 
    hr 
    h3 對於資料的蒐集、使用上，您可以有哪些選擇？ 
    br 
    p 「數位墓碑」將使用Facebook登入api作為註冊的途徑，使用者建立墓碑時系統會同步推送墓碑內容到使用者的Facebook訊息牆上。在留言系統內，使用者可以決定是否要將訊息內容同步到Facebook訊息牆上。
    br  
    hr
    h3 對於您個人資料的安全防範措施？  
    br 
    p 由於「數位墓碑」使用Facebook登入api作為登入的唯一途徑，建議使用者完成取閱電子郵件等程序後，務必記得登出會員帳戶，若您是與他人共享電腦或使用公共電腦，切記要關閉瀏覽器視窗，如此才能確保他人無法讀取您的個人資料。
    br 
    p 由於網際網路資料的傳輸不能保證百分之百的安全。因此，儘管數位墓碑努力保護您的個人資料安全，也無法確信或保證您傳送給我們的，或接收從我們的服務傳送出資料的安全，並且請您風險自擔。一旦收到您傳送的資料，我們將盡力以合理之技術及程序，保障您所有個人資料之安全。
