extends ../layout

block head
  title EXPLORE
  meta(name="keywords", content="virtual tombstone")
  meta(name="description", content="")

block css
  link(rel="stylesheet", type="text/css", href="stylesheets/memory_page.css")
  style.
    .bloom {
      width: 133px;
      height: 133px;
      padding: 50px;
      text-align: center;
      cursor: pointer;
      display: inline-block;
      overflow: hidden;
      background-color: #fff;
      -webkit-border-radius: 50%;
      border-radius: 50%;
    }
    .bloom:hover {
      background-color: #f3f3f3;
    }
    .bloom .info {
      position: relative;
      width: 100%;
      height: 100%;
    }
    .bloom .front, .bloom .back {
      text-align: inherit;
      width: auto;
      color: #afafaf;
      font-weight: 300;
      float: inherit;
      margin: 0;
    }
    .bloom .front {
      font-size: 18pt;
      line-height: 22pt;
      display: inline-block;
    }
    .bloom:hover .front {
      display: none;
    }
    .bloom .back {
      font-size: 12pt;
      line-height: 16pt;
      display: none;
    }
    .bloom .username {
      display: block;
      line-height: 22pt;
    }
    .bloom:hover .back {
      display: inline-block;
    }
    .bloom .center {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
    }

block content
  .index.memory_page
    #sky
    #tombstone
    #balloon

block javascript
  script(type="text/jsx", src="javascripts/tombstone.js")
