extends ../layout

block head
  title TOMBSTONE
  meta(name="keywords", content="virtual tombstone")
  meta(name="description", content="")

block css
  link(rel="stylesheet", type="text/css", href="stylesheets/memory_page.css")

block content
  .index.memory_page
    #sky
      //- ul
      //-   li.bloom1
      //-     p Rest in Peace Steve Jobs
    #tombstone
    #balloon

block javascript
  script(type="text/jsx", src="javascripts/tombstone.js")
