extends ../layout

block head
  title EXPLORE
  meta(name="keywords", content="virtual monument")
  meta(name="description", content="")

block css
  link(rel="stylesheet", type="text/css", href="stylesheets/memory_page.css")

block content
  .index.memory_page
    #sky
    #tombstone
    #balloon

block javascript
  script(type="text/jsx", src="javascripts/tombstone.js")
  script(type="text/javascript").
    $('#tombstone').on('mouseenter', function(e) {
      $(e.currentTarget).css({zIndex: 1});
    });
    $('#sky').on('mouseleave', '.bloom', function(e) {
      $('#tombstone').css({zIndex: 2});
    });
