doctype html
html
  head
    block head
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")

    meta(name="author", content="VIRTUAL TOMBSTONE")
    meta(name="viewport", content="width=640,user-scalable=no")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black")
    
    //- Fav and touch icons
    link(rel="shortcut icon", href="favicon.ico")
    link(rel="apple-touch-icon-precomposed", sizes="144x144", href="apple-touch-icon-144x144-precomposed.png")
    link(rel="apple-touch-icon-precomposed", sizes="114x114", href="apple-touch-icon-114x114-precomposed.png")
    link(rel="apple-touch-icon-precomposed", sizes="72x72", href="apple-touch-icon-72x72-precomposed.png")
    link(rel="apple-touch-icon-precomposed", href="apple-touch-icon-57x57-precomposed.png")
    
    link(rel="stylesheet", type="text/css", href="stylesheets/main.css")
    link(rel="stylesheet", type="text/css", href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css")
    link(rel="stylesheet", type="text/css", href='http://fonts.googleapis.com/css?family=Roboto:100,400,300')
    block css

  body
    .page
      include include/header
      block content
      include include/footer
    #fb-root
    script(type="text/javascript", src="javascripts/library/jquery-1.9.1.min.js")
    script(type="text/javascript", src="javascripts/library/jquery.cookie-1.4.1.js")
    script(type="text/javascript", src="javascripts/library/url-1.8.6.min.js")
    script(type="text/javascript", src="javascripts/library/react-0.11.0.min.js")
    script(type="text/javascript", src="javascripts/library/JSXTransformer-0.11.0.js")
    script(type="text/jsx", src="javascripts/main.js")
    block javascript
