/* color */
/* line 2, ../../../sass/build.scss */
.build {
  margin-top: -700px!important;
}
/* line 4, ../../../sass/build.scss */
.build .shadow {
  margin-top: 17px;
}
/* line 7, ../../../sass/build.scss */
.build input {
  width: 284px;
  display: inline-block;
  margin: 0px 0 0 27px;
  height: 20px;
  font-size: 14pt;
}

/* line 15, ../../../sass/build.scss */
.upload_img {
  width: 284px;
  height: 213px;
  background-color: #FFF;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  display: inline-block;
  margin: 0px 30px 10px 30px;
}
/* line 23, ../../../sass/build.scss */
.upload_img p {
  color: #cccccc;
  text-align: center;
  width: 284px;
  padding: 0;
  margin-top: 75px;
}

/* line 31, ../../../sass/build.scss */
#build_content {
  width: 284px;
  color: #afafaf;
  border: 1px solid;
  position: relative;
  display: inline-block;
  font-size: 10pt;
  margin: 10px 0 0 28px;
  float: none;
  line-height: 24pt;
  font-weight: 100;
  font-family: "Roboto";
  border: none;
  height: 250px;
  resize: none;
}

/* line 48, ../../../sass/build.scss */
.submmit {
  width: 150px;
  background-color: #9dbf21;
  color: #FFF;
  float: right;
  margin: 10px 28px 0 0;
  padding: 10px;
  text-align: center;
}
