/* color */
.build {
  height: 585px;
  margin-top: -700px !important;
}
.build .shadow {
  margin-top: 17px;
}
.build input {
  width: 284px;
  display: inline-block;
  margin: 10px 0 0 27px;
  height: 20px;
  font-size: 14pt;
}

.upload_img {
  width: 284px;
  height: 213px;
  position: relative;
  background-color: #FFF;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  display: inline-block;
  margin: 0px 30px 0px 30px;
}
.upload_img p {
  color: #CCCCCC;
  text-align: center;
  width: 284px;
  padding: 0;
  position: absolute;
  top: 100px;
}
.upload_img img {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
}
.upload_img .cropit-image-preview {
  width: 284px;
  height: 213px;
  position: relative;
}
.upload_img .cropit-image-input {
  position: absolute;
  bottom: 0;
  height: auto;
  margin: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}
.upload_img .cropit-image-input:focus {
  outline: none;
}
.upload_img .cropit-image-hidden-preview {
  width: auto;
  height: auto;
}

#build_content {
  width: 284px;
  color: #AFAFAF;
  border: 1px solid;
  position: relative;
  display: inline-block;
  font-size: 10pt;
  margin: 10px 0 0 28px;
  float: none;
  line-height: 24pt;
  font-weight: 100;
  font-family: "Roboto";
  border: none;
  height: 250px;
  resize: none;
}

#build_picture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  opacity: 0;
}

.submmit {
  width: 150px;
  background-color: #9DBF21;
  color: #FFF;
  float: right;
  margin: 10px 28px 0 0;
  padding: 10px;
  text-align: center;
  border: none;
}
