/* color */
.memory_page {
  background-image: none;
  padding-bottom: 109px;
}

.sky {
  min-height: 750px;
  background-color: #F2EDE4;
}
.sky .bloom {
  width: 133px;
  height: 133px;
  padding: 50px;
  text-align: center;
  cursor: default;
  display: inline-block;
  overflow: hidden;
  background-color: #fff;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.sky .bloom:hover {
  z-index: 10;
  background-color: #f3f3f3;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
}
.sky .bloom:hover .front {
  display: none;
}
.sky .bloom:hover .back {
  display: inline-block;
}
.sky .bloom .info {
  position: relative;
  width: 100%;
  height: 100%;
}
.sky .bloom .front,
.sky .bloom .back {
  text-align: inherit;
  width: auto;
  color: #afafaf;
  font-weight: 300;
  float: inherit;
  margin: 0;
}
.sky .bloom .front {
  font-size: 18pt;
  line-height: 22pt;
  display: inline-block;
}
.sky .bloom .back {
  font-size: 12pt;
  line-height: 16pt;
  display: none;
}
.sky .bloom .username {
  display: block;
  line-height: 22pt;
}
.sky .bloom .center {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.main_tombstone {
  width: 344px;
  height: 550px;
  background-color: rgba(204, 204, 204, 0.85);
  left: 0;
  right: 0;
  padding: 30px 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: -590px;
  position: absolute;
  z-index: 0;
}
.main_tombstone img {
  width: 284px;
  height: 213px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  display: inline-block;
  margin: 0px 30px 10px 30px;
}
.main_tombstone h2 {
  font-size: 24pt;
  font-weight: 400;
  text-align: center;
  color: #6D6D6D;
  padding-bottom: 10px;
}
.main_tombstone p {
  font-size: 10pt;
  margin: 0 auto;
  padding: 0 30px;
  width: 284px;
  line-height: 13pt;
  color: #6D6D6D;
  text-align: left;
}
.main_tombstone .date {
  display: inline-block;
  text-align: center;
  color: #6D6D6D;
  font-weight: 400;
  margin: 0 auto;
  padding: 10px 30px 0px 0;
  float: right;
}
.main_tombstone .shadow {
  width: 778px;
  height: 109px;
  display: inline-block;
  margin-left: -217px;
  margin-top: 270px;
  background-image: url("../img/shadow.png");
}

.btn_message {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width: 220px;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: -80px;
  border: none;
  background-color: #9DBF21;
  color: #FFF !important;
  padding: 10px 15px;
  font-size: 14pt;
  text-align: center;
}
.btn_message i {
  font-size: 16pt;
  display: inline-block;
  position: relative;
  padding: 0;
  margin: 0 0 0 4px !important;
}

.land {
  height: 1230px;
  width: 100%;
  background-color: #E9F7B0;
  margin: 0 auto;
}
.land .btn_message {
  width: 220px;
  margin-top: 280px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.land .write {
  width: 500px;
  height: 500px;
  -webkit-border-radius: 500px;
  border-radius: 500px;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 400px;
  background-color: #fff;
  display: inline-block;
  color: #AFAFAF;
  opacity: 1;
}
.land .write input {
  width: 250px;
  margin-left: 120px;
  margin-top: 50px;
  text-align: center;
  font-size: 24pt;
  padding-bottom: 5px;
  color: #AFAFAF;
  font-weight: 300;
  border: none;
  border-bottom: 1px solid #CCCCCC;
  display: inline-block;
  font-weight: 300;
  font-family: "Roboto";
}
.land .write ::-webkit-input-placeholder {
  color: lightgray;
}
.land .write #write_content {
  color: #AFAFAF;
  border: 1px solid;
  width: 350px;
  position: relative;
  display: inline-block;
  font-size: 10pt;
  margin: 10px 0 0 75px;
  float: none;
  line-height: 24pt;
  font-weight: 100;
  font-family: "Roboto";
  border: none;
  height: 250px;
  resize: none;
  text-align: center;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjEuMCIgeDI9IjAuNSIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIyJSIgc3RvcC1jb2xvcj0iI2NjY2NjYyIvPjxzdG9wIG9mZnNldD0iMiUiIHN0b3AtY29sb3I9IiNmZmZmZmYiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(2%, #cccccc), color-stop(2%, #ffffff));
  background-image: -moz-linear-gradient(bottom, #cccccc 2%, #ffffff 2%);
  background-image: -webkit-linear-gradient(bottom, #cccccc 2%, #ffffff 2%);
  background-image: linear-gradient(to top, #cccccc 2%, #ffffff 2%);
  -moz-background-size: 100% 32px;
  -o-background-size: 100% 32px;
  -webkit-background-size: 100% 32px;
  background-size: 100% 32px;
}
.land .write .restrict {
  float: left;
  margin-left: 75px;
  margin-top: 10px;
  font-size: 10pt;
}
.land .write .author {
  float: right;
  margin-right: 75px;
  margin-top: 10px;
  font-size: 10pt;
}
.land .write::after {
  content: "";
  -webkit-border-radius: 13px;
  border-radius: 13px;
  margin-top: 397px;
  margin-left: -193px;
  width: 30px;
  height: 20px;
  background-color: #fff;
  position: absolute;
}

.wire {
  width: 7px;
  height: 320px;
  background-color: #fff;
  position: absolute;
  margin-top: 150px;
  margin-left: 248px;
  z-index: 0;
}
.wire::after {
  content: attr(data-wire);
  display: block;
  margin-left: 14px;
  margin-top: 10px;
  line-height: 20px;
  font-family: "Roboto";
}
.wire.animation {
  -webkit-animation: wire_flash 3s infinite;
  -moz-animation: wire_flash 3s infinite;
  -o-animation: wire_flash 3s infinite;
  animation: wire_flash 3s infinite;
}

@-webkit-keyframes wire_flash {
  0% {
    background: gray;
  }
  50% {
    background: white;
  }
  100% {
    background: gray;
  }
}
@keyframes wire_flash {
  0% {
    background: red;
  }
  50% {
    background: blue;
  }
  100% {
    background: green;
  }
}
.wire_off {
  height: 0px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.fly_away {
  -webkit-transition: 3s ease-in;
  -moz-transition: 3s ease-in;
  -ms-transition: 3s ease-in;
  -o-transition: 3s ease-in;
  transition: 3s ease-in;
  margin-top: -1000px !important;
  opacity: 0 !important;
}

.hide {
  display: none;
}
