/* color */
/* line 3, ../../../sass/tutorial.scss */
.bx-viewport h1 {
  text-align: center;
  margin: 20px 0;
}
/* line 7, ../../../sass/tutorial.scss */
.bx-viewport a {
  color: #afafaf;
}
/* line 10, ../../../sass/tutorial.scss */
.bx-viewport p {
  margin: 10px 0;
}
