// Imports
@import"susy";
@import"base";
@import"compass/reset";
@import"compass/css3";
/* -------------------------------------------------------------------------*/
/* Layout */
$total-columns: 8;
$column-width: 60px;
$gutter-width: 20px;
$grid-padding: 25px;


// Here's where we define some default constants
@import "partials/base";

// Then we'll import the compass extension
@import "html5-boilerplate";

// Now, you can simply include everything
// (except print and helpers) by uncommeting this line
//@include html5-boilerplate;

// Or, you can pick and choose only the sections
// you want by using the this include
@include html5-boilerplate-normalize((
  html5,
  base,
  selection,
  links,
  typography,
  lists,
  images,
  svg,
  figures,
  forms,
  tables
));


// Or, you can import the "overrides" partial if
// you want more control over individual mixins
//@import "partials/overrides";

// Finally, put your own styles in these partials
// and add more as needed (i.e. forms, tables, nav)
@import "partials/fonts";
@import "partials/page";

// Helpers classes should come second-to-last
@include html5-boilerplate-helpers((
  ir,
  hidden,
  visuallyhidden,
  invisible,
  clearfix
));

// color //
$darkgray: #AFAFAF;
$bg: #F2EDE4;
$lightgreen: #E6FC8B;
$gray: #CCCCCC;
$green: #9DBF21;

// Media should come last
@import "partials/media";
body{
  font-family: "Helvetica LT Light";
}

h1{
  padding: 0;
  margin: 0;
}

.page{
  @include container;
  @include susy-grid-background;
}
header{
  height: 82px;
  background-color: $gray;
  color: #FFF;
  img{
    margin: 15px 5px 0 10px;
    float: left;
  }
  h1{
    display: inline-block;
    margin-top: 9px;
    font-size: 22pt;
    line-height: 24pt;
  }
  nav{
    margin: 0;
    display: inline-block;
    position: absolute;
  }
  ul{
    margin: 0;
    display: inline-block;
    li{
      position: relative;
      display: inline-block;
      font-size: 12pt;
      margin-left: 30px;
      height: 32px;
      padding: 30px 0 20px 0;
    }
  }
  .search{
    display: inline-block;
    border-left: 1px solid;
    i{
      display: inline-block;
      padding: 0 10px 0 10px;
    }
    p{
      display: inline-block;
      margin: 0;
    }
  }
}
.signup{
  margin-left: 130px;
}
footer{
  height: 32px;
  background-color: $lightgreen;
}

#main{
  background-color: $bg;
  min-height: 600px;
}