.header
  .logo
    a(href="index.html", target="_self")
      img(src="img/logo.png", alt="logo")
      .vt
        | VIRTUAL MEMORIAL
  ul
    li.first
      a(href="build.html", target="_self") 建立紀念碑
    li
      a(href="explore.html", target="_self") 瀏覽紀念碑
    li
      a(href="tutorial.html", target="_self") 如何使用
    li
      a(href="privacy_policy.html", target="_self") 隱私權政策
    li
      a(href="terms_of_services.html", target="_self") 使用者條款
    li#login.login
