.header
  .logo
    a(href="index.html", target="_self")
      img(src="img/logo.png", alt="logo")
      .vt
        | VIRTUAL TOMBSTONE
  ul
    li
      a(href="build.html", target="_self") 建立墓碑
    li
      a(href="explore.html", target="_self") 瀏覽墓碑
    li
      a(href="tutorial.html", target="_self") 如何使用
    li#login.login
