.header
  .logo
    a(href="index.html", target="_self")
      img(src="img/logo.png", alt="logo")
      | VIRTUAL TOMBSTONE
    p
  ul
    li
      a(href="build.html", target="_self") BUILD TOMBSTONE
    li
      a(href="explore.html", target="_self") EXPLORE
    li
      a(href="tutorial.html", target="_self") TUTORIAL
    li#beforeLogin.login
      a(href="/auth/facebook", target="_self") Facebook Login
    //- li#afterLogin.login.after-login
    //-   a(href="login.html", target="_self")
    //-     img(src="img/face01.png", alt="face", id="fbPicture")
    //-     p#fbDisplayname.ID Cryil Hong
    //-   .profile
    //-     ul
    //-       li
    //-     a#fbLogout.logout(href="logout", target="_self")
    //-       | log out
    //-       i.fa.fa-sign-out
