/* color */
/* Media Layout */
/* line 14, ../../../sass/_head.scss */
.header {
  width: 100%;
  margin: 0 auto;
  height: 82px;
  background-color: #afafaf;
  z-index: 11;
  -webkit-transform: translateZ(0);
}
/* line 21, ../../../sass/_head.scss */
.header .logo {
  width: 28.57143%;
  float: left;
  margin-right: 7.14286%;
  display: inline;
  margin-left: 20px;
  margin-top: 25px;
  margin-right: 87px;
  font-size: 24pt;
}
/* line 27, ../../../sass/_head.scss */
.header .logo img {
  margin-right: 10px;
  margin-bottom: -4px;
}
/* line 31, ../../../sass/_head.scss */
.header .logo p {
  font-size: 18px;
  color: #FFF;
  display: inline-block;
}
/* line 36, ../../../sass/_head.scss */
.header .logo a {
  color: #FFF;
}
/* line 41, ../../../sass/_head.scss */
.header ul li {
  width: 10.25641%;
  float: left;
  margin-right: 2.5641%;
  display: inline;
  height: 32px;
  padding: 35px 0 15px 0;
  color: white;
}
/* line 46, ../../../sass/_head.scss */
.header ul li a {
  color: #FFF;
}
/* line 50, ../../../sass/_head.scss */
.header ul .signup {
  float: right;
}
/* line 53, ../../../sass/_head.scss */
.header ul .login {
  float: right;
  border-left: 1px solid #fff;
  padding-left: 15px;
}
/* line 58, ../../../sass/_head.scss */
.header ul .after-login img {
  margin-top: -20px;
  width: 50px;
}
/* line 63, ../../../sass/_head.scss */
.header ul .search {
  width: 220px;
  border-left: 1px solid #fff;
}
/* line 66, ../../../sass/_head.scss */
.header ul .search i {
  margin: 0 10px 0 10px;
}
/* line 70, ../../../sass/_head.scss */
.header ul .ID {
  color: #FFF;
  margin-top: -38px;
  margin-left: 60px;
}
/* line 76, ../../../sass/_head.scss */
.header .profile {
  width: 200px;
  height: auto;
  display: inline-block;
  position: absolute;
  margin-left: -15px;
  margin-top: 32px;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.2);
}
/* line 85, ../../../sass/_head.scss */
.header .profile ul, .header .profile li {
  margin: 0;
  display: inline-block;
  padding: 0;
  position: relative;
}
/* line 91, ../../../sass/_head.scss */
.header .profile li {
  width: 200px;
  height: 50px;
  margin-top: 5px;
  border-bottom: 1px solid;
  padding-bottom: 5px;
}
/* line 98, ../../../sass/_head.scss */
.header .profile img {
  height: 50px;
  width: auto !important;
  display: inline-block;
  margin-top: 0 !important;
}
/* line 104, ../../../sass/_head.scss */
.header .profile p {
  color: #FFF;
  display: block;
  margin-top: -38px;
  margin-left: 75px;
  position: relative;
}
/* line 111, ../../../sass/_head.scss */
.header .profile .logout {
  width: 200px;
  color: #FFF;
  padding: 12px 0 0 0;
  display: inline-block;
  font-size: 14pt;
  text-align: center;
}

/* color */
/* line 3, ../../../sass/_footer.scss */
#footer {
  width: 100%;
  margin: 0 auto;
  height: 12px;
  padding: 6px 0 14px 0;
  text-align: center;
  display: inline-block;
  background-color: #e6fc8b;
  font-weight: 300;
  position: relative;
  z-index: 1;
}
/* line 14, ../../../sass/_footer.scss */
#footer p {
  font-size: 10pt;
}

/* color */
/* line 3, ../../../sass/_explore.scss */
.tombstone {
  width: 16.66667%;
  float: left;
  margin-right: 4.16667%;
  display: inline;
  width: 200px;
  padding: 20px 0;
  margin-left: 20px;
}

/* line 9, ../../../sass/_explore.scss */
.face {
  width: 142px;
  height: 420px;
  display: inline-block;
  margin: 0 36px -1px 36px;
  font-size: 10pt;
  padding: 10px;
  background-color: #cccccc;
}
/* line 17, ../../../sass/_explore.scss */
.face h2 {
  padding: 5px 0;
  text-align: center;
  font-weight: 400;
}
/* line 22, ../../../sass/_explore.scss */
.face img {
  width: 142px;
  height: 108px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
/* line 28, ../../../sass/_explore.scss */
.face p {
  font-size: 10pt;
  line-height: 12pt;
  text-align: center;
}
/* line 33, ../../../sass/_explore.scss */
.face .date {
  width: 142px;
  padding: 10px 0;
  display: inline-block;
  text-align: center;
  font-weight: 300;
}

/* line 41, ../../../sass/_explore.scss */
.count {
  width: 162px;
  display: inline-block;
  padding: 6px 36px;
  border-top: 1px solid #cccccc;
}
/* line 46, ../../../sass/_explore.scss */
.count img {
  position: absolute;
  margin: -116px 0 0 165px;
}
/* line 50, ../../../sass/_explore.scss */
.count p {
  position: absolute;
  margin: -99px 0 0 167px;
  text-align: center;
  font-size: 10pt;
  width: 47px;
}

/* color */
/* line 3, ../../../sass/_signup.scss */
.signup_cell {
  width: 430px;
  height: auto;
  background-color: #FFF;
  margin: 80px auto;
  text-align: center;
  float: none;
  font-size: 14pt;
}
/* line 11, ../../../sass/_signup.scss */
.signup_cell a, .signup_cell div, .signup_cell h1, .signup_cell p, .signup_cell input {
  display: block;
  padding: 10px;
  margin: 0 auto;
}
/* line 16, ../../../sass/_signup.scss */
.signup_cell h1 {
  padding: 20px;
  font-weight: 300;
}
/* line 20, ../../../sass/_signup.scss */
.signup_cell .fbconnect {
  color: #fff;
  width: 350px;
  background-color: #3A5898;
}
/* line 25, ../../../sass/_signup.scss */
.signup_cell i {
  margin: 0 10px;
}
/* line 28, ../../../sass/_signup.scss */
.signup_cell p {
  font-size: 10pt;
  color: #cccccc;
}
/* line 32, ../../../sass/_signup.scss */
.signup_cell .horizen {
  width: 20px;
  height: 20px;
  background-color: #FFF;
  position: relative;
  z-index: 12;
  display: inline-block;
}
/* line 39, ../../../sass/_signup.scss */
.signup_cell .horizen p {
  font-size: 12pt;
  display: inline-block;
  background-color: #fff;
  margin: 0;
  padding: 0;
  width: 30px;
  height: 30px;
  z-index: 1;
  position: relative;
}
/* line 50, ../../../sass/_signup.scss */
.signup_cell .horizen hr {
  width: 300px;
  position: relative;
  float: left;
  margin: -19px 0 0 -139px;
  height: 0px;
  border: 1px solid #cccccc;
  z-index: 0;
}
/* line 60, ../../../sass/_signup.scss */
.signup_cell input {
  width: 350px;
  background-color: #cccccc;
  color: #FFF;
  border: 0px;
  margin-bottom: 20px;
}
/* line 67, ../../../sass/_signup.scss */
.signup_cell ::-webkit-input-placeholder {
  color: #fff;
  font-size: 10pt;
  font-family: "Roboto";
  font-weight: 100;
}
/* line 73, ../../../sass/_signup.scss */
.signup_cell .confirm {
  width: 150px;
  background-color: #9dbf21;
  color: #FFF;
  float: left;
  margin-left: 30px;
}
/* line 80, ../../../sass/_signup.scss */
.signup_cell .termsofuse {
  padding: 0;
  font-size: 10pt;
  padding-top: 2px;
  line-height: 13pt;
  width: 180px;
  float: left;
  text-align: left;
  margin-left: 20px;
}
/* line 89, ../../../sass/_signup.scss */
.signup_cell .termsofuse a {
  display: inline-block;
  padding: 0;
  margin: 0;
  color: #9dbf21;
}
/* line 96, ../../../sass/_signup.scss */
.signup_cell .login {
  width: 350px;
  margin: 20px 0;
  display: inline-block;
  font-size: 14pt;
}
/* line 101, ../../../sass/_signup.scss */
.signup_cell .login a {
  padding: 0;
  margin: 0;
  color: #9dbf21;
  display: inline-block;
  margin-left: 10px;
}
/* line 110, ../../../sass/_signup.scss */
.signup_cell .rememberme input {
  display: inline-block;
  width: 10px;
  margin: 0 5px;
}

/* color */
/* line 17, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* -------------------------------------------------------------------------*/
/* Layout */
/* Media Layout */
/* line 26, ../../../sass/main.scss */
html {
  font-size: 100%;
}

/* line 30, ../../../sass/main.scss */
body {
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  background-color: #FFF;
  color: #6d6d6d;
}

/* line 37, ../../../sass/main.scss */
a {
  color: #FFF;
}

/* line 40, ../../../sass/main.scss */
a:link {
  text-decoration: none;
  color: #afafaf;
}

/* line 45, ../../../sass/main.scss */
p {
  font-size: 12pt;
  line-height: 16pt;
  color: #6d6d6d;
}

/* line 51, ../../../sass/main.scss */
h1 {
  font-size: 3em;
}

/* line 54, ../../../sass/main.scss */
h2 {
  font-size: 12pt;
}

/* line 58, ../../../sass/main.scss */
.page {
  *zoom: 1;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f2ede4;
}
/* line 38, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.page:after {
  content: "";
  display: table;
  clear: both;
}

/* line 67, ../../../sass/main.scss */
.index {
  min-height: 800px;
  background-image: url("../img/bg.png");
  background-repeat: no-repeat;
  max-width: 100%;
  width: 100%;
  background-size: cover;
  color: #FFF;
}
/* line 75, ../../../sass/main.scss */
.index p {
  width: 49.09091%;
  float: right;
  margin-right: 0;
  *margin-left: -20px;
  display: inline;
  margin: 200px 300px 0 0;
  font-size: 36pt;
  width: 340px;
  font-weight: 300;
  color: #FFF;
  line-height: 40pt;
  text-align: right;
}
/* line 85, ../../../sass/main.scss */
.index i {
  font-size: 64pt;
  position: absolute;
  margin: -70px 0 0 10px;
}

/* line 91, ../../../sass/main.scss */
.main {
  float: none !important;
  width: 100%;
  float: left;
  margin-right: 1.20482%;
  display: inline;
  min-height: 700px;
  max-width: 1080px;
  margin: 0 auto;
  padding: 20px;
}

/* line 100, ../../../sass/main.scss */
.login_fail {
  height: 600px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  position: relative;
}
/* line 106, ../../../sass/main.scss */
.login_fail p {
  display: inline-block;
  vertical-align: middle;
}
/* line 110, ../../../sass/main.scss */
.login_fail a {
  color: #9dbf21;
}

/* line 114, ../../../sass/main.scss */
.login_fail:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 100%;
}
